/* You can add global styles to this file, and also import other style files */

/*--------------------------

pages - dashboard
---------------------------*/


._card_input{
    display: inline-block;
}

#_input_botton{
    padding-left: 5px;
}

.myTextArea{
    width: 100%; 
    max-width: 100%;
}

#_input_texarea{
    width: 85%;
}

._card_output{
    width: 85%;
}

